
a:hover {
	color: orange;
}
a:visited {
	color: red;
}
a:active {
	color: #8b0000;
}

#contentstitle {
	text-align:center;
}
#contents {
	width: 200px;
	border: 1px solid black ;
	background: #d3d3d3
}
.header {
	color: #FF6600;
}

.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}